* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

.main {
    background: linear-gradient(rgba(0, 0, 0, 0.60), 
    rgba(0, 0, 0, 0.60)), url(./images/1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    padding: 30px 20px;
    color: #FFFFFF;
}

.bootstrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: -60px;
    margin-top: -20px;
}

.main-left {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 11px;
    padding: 5px 18px;
    
}

.main-right {
    background-color: rgb(202, 13, 13);
    color: #FFFFFF;
    padding: 5px 18px;
    border: none;
    border-radius: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 11px;

}

.main-right:hover {
    background-color: hsl(0, 84%, 30%);
}
.main-details {
    max-width: 500px;
    margin-inline: auto;
    padding-top: 65px
} 



.main-details h1{ 
    font-size: 45px;
    text-align: center;
    margin-left: -80px;
}

.main-details p{ 
    margin: 25px 0;
    font-size: 13.6px;
    line-height: 20px;
    
}


.download-button {
    background-color: #1993bf;
    color: #FFFFFF;
    padding: 7px 22px;
    border: none;
    border-radius: 40px;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 40px;

}

.download-button:hover {
    background-color: #044a63;
}

.thumbnails {
    max-width: 600px;
    margin-inline: auto;
    text-align: center;
    margin-top: -30px;
    
}

.thumbnails h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 35px;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tags button {
    background-color: #FFFFFF;
    color: #1e86ac;
    padding: 8px 22px;
    border: 1px solid #2596BE;;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.tags button:hover {
    background-color: #2596BE;
    color: #FFFFFF;
}


.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.thumbnails {
    width: 30%;
    height: 30%;

}
.img {
    max-width: 150px; 
    margin: -5px;
    width: 35%;
}

.thumbnails-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.65rem;
    
}

.thumbnails-container2  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1.5rem ;
    gap: 1.65rem;

}

.thumbnails-container2  {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

#outshoot {
    margin-top: -0.9rem;

}

#outshoot2 {
    margin-top: -2.0rem;
    
}

.top {block-size: 40%;
}

.bottom {
    block-size:60%; 
}
